/* clear css*/
.row {
    margin-bottom: 0px;
}

/*
* multi-line comment
*/
/* fix screen size */

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
    margin:0;
    padding:0;
    height:100%;
}

/* you can put your code all in one line like above */
/* #page{ margin: 20px; } */

/* or on different lines like below */
#logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.navbar {
    background-color: #77A84B !important;
}

header{
    height: 8vh;
}

main {
    padding-top: 10px;
    height: 77vh;
    flex: 1 0 auto;
    background:white;
    overflow:scroll;
}

footer {
    height: 15vh;
}

.page-footer {
    background-color: #eceff1 !important;
    /* background-color: light-green darken-3 !important; */
}

/* other non-essential CSS */
.btn_size{
  height:30px;
  width:300px;
  position:relative;
  /* background:red; */
  left:10px;
}
.btn_wrapper{
  text-align:center;
}
.div_scroll {
    overflow:scroll;
}
